<!DOCTYPE html>
<div class="row">
    <span class="float-right">Version: {{:version}}</span>
</div>
<div class="row">
    <h1 class="float-left">Settings</h1>
    {{if updateReady}}
    <div class="custom-button">
        <button id="update-version-button" type="button" class="btn btn-primary">Restart and install update</button>
    </div>
    {{/if}}
</div>
<div class="row">
    <ul class="nav nav-tabs">
      <li id="application-nav-item" role="presentation" class="active"><a href="#">Application</a></li>
      <li id="invoice-nav-item" role="presentation"><a href="#">Invoice</a></li>
      <li id="backup-nav-item" role="presentation"><a href="#">Backup</a></li>
    </ul>
</div>
<div id="settings-content"></div>
<hr>
<div class="row">
    <button id="undo-changes-settings-button" type="button" class="btn btn-warning">
        Undo Changes
    </button>
    <button id="save-changes-button" type="button" class="btn btn-success float-right">
        Save Changes
    </button>
</div>
