<!DOCTYPE html>
<div class="row transparent-spacer"></div>
<div class="row">
    <div class="col-md-8 col-lg-8">
        <div class="form-group">
            <label for="InvoiceTemplatePath">Invoice Template</label>
            <div id="InvoiceTemplatePath" class="input-group">
                <input type="text" class="form-control" value="{{:InvoiceTemplatePath}}" readonly="true">
                <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-8">
        <div class="form-group">
            <label for="InvoiceOutputPath">Invoice Output</label>
            <div id="InvoiceOutputPath" class="input-group">
                <input type="text" class="form-control" value="{{:InvoiceOutputPath}}" readonly="true">
                <span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
            </div>
        </div>
    </div>
</div>
