//Elements

//IDs
#container{
    padding-left: 0;
}

#content {
    padding-left: 2%;
    padding-right: 2%;
}

#navbar {
    position: absolute;
    float: left;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(114, 115, 117, 1);
}

#sidebar {
    position: absolute;
    background-color: rgba(64, 68, 82, 1);
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 1%;
    padding-left: 2%;
}

#create-button {
    float:right;
    margin-top: 2.5%;
}

//Classes
.container-fluid div {
    -webkit-transition: width 0.5s ease, margin 0.3s ease;
    -moz-transition: width 0.5s ease, margin 0.3s ease;
    -o-transition: width 0.5s ease, margin 0.3s ease;
    transition: width 0.5s ease, margin 0.3s ease;
}

.extra-large-field {
    margin-right: 5%;
}

.large-field {
    float:left;
    width: 70%;
    margin-right: 5%;
}

.medium-field {
    float:left;
    width: 45%;
    margin-right: 5%;
}

.small-field {
    float:left;
    width: 20%;
    // margin-right: 5.7%;
}

.submit-button {
    float:right;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 5%;
    margin-top: 2%;
}

.text-color{
    color: rgba(255, 255, 255, 1);
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.clear-both {
    clear: both;
}
