//Elements

//IDs
#container{
    padding-left: 0;
}

#content {
    overflow-y: auto;
    position: absolute;
    height: 100%;
    background-color: rgba(210, 210, 200, 1);
    padding-left: 2%;
    padding-right: 2%;
}

#navbar {
    position: absolute;
    float: left;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(114, 115, 117, 1);
}

#sidebar {
    position: absolute;
    overflow-y: auto;
    background-color: rgba(64, 68, 82, 1);
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#sidebar table {
    background-color: rgba(100, 92, 114, 1);
}

#addRepValues {
    margin-top: 5.5%;
    font-size: 130%;
}

#addRepValues :hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#paginationNavBar {

}

#jobAllCheckbox {
    float: left;
    margin-top: 1.7%;
    margin-left: 0.8%;
    margin-bottom: 0.5%;
}

//Classes
.container-fluid div {
    -webkit-transition: width 0.5s ease, margin 0.3s ease;
    -moz-transition: width 0.5s ease, margin 0.3s ease;
    -o-transition: width 0.5s ease, margin 0.3s ease;
    transition: width 0.5s ease, margin 0.3s ease;
}

.extra-large-field {
    margin-right: 3%;
}

.large-field {
    float:left;
    width: 74%;
    margin-right: 3%;
}

.medium-field {
    float:left;
    width: 47%;
    margin-right: 3%;
}

.small-field {
    float:left;
    width: 20%;
    // margin-right: 5.7%;
}

.submit-button {
    float:right;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 5%;
    margin-top: 3   %;
}

.custom-button {
    float:right;
    margin-top: 2.5%;
    margin-left: 2%;
}

.content-custom-button {
    float:right;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-bottom: 0.5%;
}

.remove-span {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 150%;
}

.remove-span :hover {
    color: rgba(230, 50 ,50 ,1);
}
.clickable-row {
    cursor: pointer;
}

.text-color{
    color: rgba(255, 255, 255, 1);
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.clear-both {
    clear: both;
}

.details-heading {
    color: rgba(255, 255, 255, 1);
}
