<!DOCTYPE html>
<div class="row">
    <h1>Dashboard</h1>
    <h2>Today's Jobs</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Job</th>
                <th>Client</th>
                <th>Time</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            {{for jobs}}
            <tr>
                <th scope="row">{{:#index+1}}</th>
                <td>{{:jobName}}</td>
                <td>{{:client.businessName}}</td>
                <td>{{:timeBooked.format("HH:mm")}}</td>
                <td>${{:payment}}</td>
            </tr>
            {{/for}}
        </tbody>
    </table>
</div>
