<!DOCTYPE html>
<div class="row">
    <div class="custom-button">
        <button id="rebook-button" type="button" class="btn btn-default" onclick="UIFunctions.previousDay()">
            <span class="glyphicon glyphicon-menu-left"></span>
            Previous ({{:previous}})
        </button>
        <button type="button" class="btn btn-success" onclick="UIFunctions.reloadDayJobs()">
            {{:selectedDay}}
        </button>
        <button id="edit-button" type="button" class="btn btn-default" onclick="UIFunctions.nextDay()">
            Next ({{:next}})
            <span class="glyphicon glyphicon-menu-right"></span>
        </button>
    </div>
    <h2>Daily Schedule</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Client</th>
            <th>Job</th>
            <th>Time</th>
            <th>Payment</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        {{for jobs}}
        <tr>
            <td>{{:client.businessName}}</td>
            <td>{{:jobName}}</td>
            <td>{{:timeBooked.format("HH:mm")}}</td>
            <td>${{:payment + gst}}</td>
            <td>
                {{if state === "Placed"}}
                <input type="checkbox" onclick="UIFunctions.homeJobDone({{:id}})">
                {{else}}
                <input type="checkbox" checked onclick="UIFunctions.homeJobUndone({{:id}})">
                {{/if}}
            </td>
            <td><button id="" type="button" class="btn btn-primary btn-xs" onclick="UIFunctions.jobDetails({{:id}})">More...</button></td>
        </tr>
        {{/for}}
    </tbody>
</table>
<div id="day-income" class="row float-right">
    <h4>Day's Income: ${{:sum}}</h4>
</div>
