<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">New Service</h1>
</div>
<form id="createJobSchemeForm">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="client">Client*</label>
                <select class="form-control" name="clientSelect">
                    {{if client == null}}
                        <option value="" selected disabled>Select Client</option>
                        {{for clients}}
                            <option value="{{:id}}">{{:businessName}}</option>
                        {{/for}}
                    {{else}}
                        <option value="{{:client.id}}" selected>{{:client.businessName}}</option>
                    {{/if}}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="form-group">
                <label for="jobName">Job Name*</label>
                <input type="text" class="form-control" name="jobName" placeholder="Job Name">
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="payment">Payment*</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </span>
                    <input type="text" class="form-control" name="payment" placeholder="Eg. 50">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <!-- NOTE: Could be Generated based on Enum values or database table -->
                <label for="repeatition">Repetition*</label>
                <select id="repetitionSelector" class="form-control" name="repeatitionSelect">
                    <option value="" selected disabled>Select Repetition</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Daily">Daily</option>
                </select>
            </div>
        </div>
        <!-- Button to add repetition fields -->
        <!-- TODO: fix button height with different resolutions -->
        <div class="col-md-2 col-lg-2">
            <div id="addRepValues" class="form-group span-button">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
    <br>
    <div id="repValuesDiv">
        <!-- Where the repetition values are added -->
    </div>
    <div class="row">
        <button id="form-submit-button" type="button" class="btn btn-lg btn-success submit-button">Submit</button>
    </div>
</form>
