<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">New Service</h1>
</div>
<form id="createJobSchemeForm">
    <div class="row">
        <div class="form-group extra-large-field">
            <label for="client">Client*</label>
            <select class="form-control" name="clientSelect" onblur="validRules.Selected($(this))" onchange="validRules.Selected($(this))">
                <option value="{{:id}}" selected>{{:businessName}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group large-field">
            <label for="jobName">Job Name*</label>
            <input type="text" class="form-control" name="jobName" placeholder="Job Name" onblur="validRules.isEmptyField($(this))" onkeyup="validRules.isEmptyField($(this))">
        </div>
        <div class="form-group small-field">
            <label for="payment">Payment*</label>
            <div class="input-group">
                <input type="text" class="form-control" name="payment" placeholder="Eg. 50" onblur="validRules.isNumeric($(this))" onkeyup="validRules.isNumeric($(this))">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-usd"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group medium-field">
            <!-- NOTE: Could be Generated based on Enum values -->
            <label for="repeatition">Repetition*</label>
            <select id ="repetitionSelector" class="form-control" name="repeatitionSelect" onchange="UIFunctions.updateRepFields()" onblur="validRules.Selected($(this))">
                <option value="" selected disabled>Select Repetition</option>
                <option value="Monthly">Monthly</option>
                <option value="Fortnightly">Fortnightly</option>
                <option value="Weekly">Weekly</option>
                <option value="Daily">Daily</option>
            </select>
        </div>
        <!-- Button to add repetition fields -->
        <div id="addRepValues" class="form-group small-field">
            <span class="glyphicon glyphicon-plus" onclick="UIFunctions.addRepValues()"></span>
        </div>
    </div>
    <br>
    <div id="repValuesDiv">
        <!-- Where the repetition values are added -->
    </div>
    <div class="row">
        <button id="form-submit-button" type="button" class="btn btn-lg btn-success submit-button" onclick="UIFunctions.createJobScheme()" disabled="true">Submit</button>
    </div>
</form>
