<!DOCTYPE html>
<div class="row">
    <div class="col-md-5 col-lg-5">
        <div class="form-group  ">
            <label for="timeBooked">Booking Time</label>
            <div class="input-group date timepicker">
                <input id="time" type="text" class="form-control" onblur="validRules.isEmptyField($(this))" onkeyup="validRules.isEmptyField($(this))">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-lg-2">
        <div class="clickable-span remove-span span-button">
            <span class="glyphicon glyphicon-remove" onclick="UIFunctions.removeRepValues($(this).parent().parent())"></span>
        </div>
    </div>
</div>
