<!DOCTYPE html>
<div class="row">
    <h2 class="details-heading float-left">{{:jobName}}</h2>
    <div class="custom-button">
        <button id="edit-button" type="button" class="btn btn-warning" onclick="UIFunctions.getEditJobScheme({{:id}})">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        </button>
        <button id="generate-button" type="button" class="btn btn-success" onclick="UIFunctions.generateJobs({{:id}})">
            <span class="glyphicon glyphicon-cog"></span>
            Generate Jobs
        </button>
    </div>
</div>
<div class="row">
    <p>
        <strong>Business Name:</strong>
        {{:client.businessName}}
    </p>
    <p>
        <strong>Repetition:</strong>
        {{:repetition}}
    </p>
    <p>
        <strong>Payment:</strong>
        {{:payment}}$
    </p>
    <p>
        <strong>Enabled:</strong>
        {{:enabled}}
    </p>
</div>
<div class="row">
    <h4>Repetition Values:</h4>
</div>

{{for repetitionValues}}
<div class="row sub-details">
    <div class="col-md-1"><h5>{{:#index+1}}.</h5></div>
    <div class="col-md-offset-1">
    {{if #parent.parent.data.repetition === "Monthly" || #parent.parent.data.repetition === "Fortnightly"}}
    <p>
        <strong>Week:</strong>
        {{:week+1}}
    </p>
    {{/if}}
    {{if #parent.parent.data.repetition !== "Daily"}}
    <p>
        <strong>Day:</strong>
        {{:day}}
    </p>
    {{/if}}
    <p>
        <strong>Time:</strong>
        {{:hour}}:{{:minute}}
    </p></div>
</div>
{{/for}}
<div class="row">
    <div class="custom-button">
        {{if enabled}}
        <button id="disable-button" type="button" class="btn btn-warning" onclick="UIFunctions.disableJobScheme({{:id}})">
            <span class="glyphicon glyphicon-unchecked"></span>
            Disable
        </button>
        {{else}}
        <button id="enable-button" type="button" class="btn btn-warning" onclick="UIFunctions.enableJobScheme({{:id}})">
            <span class="glyphicon glyphicon-check"></span>
            Enabled
        </button>
        {{/if}}
        <button id="delete-button" type="button" class="btn btn-danger" onclick="UIFunctions.removeJobSchemes({{:id}}, {{:client.id}})">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </button>
    </div>
</div>
