<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">Edit {{:jobName}}</h1>
</div>
<form id="editJobSchemeForm">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="form-group">
                <label for="jobName">Job Name</label>
                <input type="text" class="form-control" name="jobName" placeholder="Job Name" value="{{:jobName}}" onblur="validRules.isEmptyField($(this))" onkeyup="validRules.isEmptyField($(this))">
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="payment">Payment</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </span>
                    <input type="text" class="form-control" name="payment" placeholder="Eg. 50" value="{{:payment}}" onblur="validRules.isNumeric($(this))" onkeyup="validRules.isNumeric($(this))">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="repeatition">Repeatition</label>
                <select id="repetitionSelector" class="form-control" name="repetition" onblur="validRules.Selected($(this))">
                    <option value="Monthly" {{if repetition === "Monthly"}} selected{{/if}}>Monthly</option>
                    <option value="Fortnightly" {{if repetition === "Fortnightly"}} selected{{/if}}>Fortnightly</option>
                    <option value="Weekly" {{if repetition === "Weekly"}} selected{{/if}}>Weekly</option>
                    <option value="Daily" {{if repetition === "Daily"}} selected{{/if}}>Daily</option>
                </select>
            </div>
        </div>
        <!-- Button to add repetition fields -->
        <div class="col-md-2 col-lg-2">
            <div id="addRepValues" class="form-group span-button">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
    <br>
    <div id="repValuesDiv">
        <!-- Where the repetition values are added -->
    </div>
    <div class="row">
        <button id="editJobSchemeSubmitButton" type="button" class="btn btn-lg btn-success submit-button">Submit</button>
    </div>
</form>
