<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">Services</h1>
    <div class="custom-button">
        <button id="advance-search-button" type="button" class="btn btn-default" data-toggle="modal" data-target="#advSearchModal">
            <span class="glyphicon glyphicon-search"></span>&nbsp;Advance Search
        </button>
        <button id="generate-button" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-cog"></span>&nbsp;Generate Jobs
        </button>
        <button id="create-button" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Create Service
        </button>
    </div>
</div>
<div id="JobSchemesTable" class="row"></div>

<!-- Modal -->
<div class="modal fade" id="advSearchModal" tabindex="" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalLabel">Search Options</h4>
            </div>
            <div class="modal-body">
                <form id="searchOptionsForm">
                    <div class="row">
                        <div class="col-md-12 col-md-12">
                            <div class="form-group">
                                <label for="client">Client</label>
                                <select class="form-control" name="client">
                                    <option value="" selected></option>
                                    {{for clients}}
                                        <option value="{{:id}}">{{:businessName}}</option>
                                    {{/for}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            <div class="form-group">
                                <label for="repetition">Repetition</label>
                                <select class="form-control" name="repetition">
                                    <option value="" selected></option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Fortnightly">Fortnightly</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Daily">Daily</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-6">
                            <div class="form-group">
                                <label for="enabled">Active</label>
                                <select class="form-control" name="enabled">
                                    <option value="" selected></option>
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="searchJobSchemesButton" type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>
