<!DOCTYPE html>
<div class="row">
    <div class="form-group medium-field">
        <label for="client">Day</label>
        <select class="form-control" name="clientSelect">
            <option value="" selected disabled>Select Day</option>
            <option value=0>Sunday</option>
            <option value=1>Monday</option>
            <option value=2>Tuesday</option>
            <option value=3>Wednesday</option>
            <option value=4>Thursday</option>
            <option value=5>Friday</option>
            <option value=6>Saturday</option>
        </select>
    </div>
    <div class="form-group small-field">
        <label for="timeBooked">Booking Time</label>
        <div class="input-group date timepicker">
            <input type="text" class="form-control"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
    </div>
    <div class="form-group small-field clickable-span remove-span" onclick="UIFunctions.removeRepValues(this)">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>
