<!DOCTYPE html>
<table id="jobSchemes-table" class="table table-striped">
    <thead>
        <tr>
            <th>Client</th>
            <th>Job Name</th>
            <th>Repetition</th>
            <th>Payment (ex. GST)</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        {{for schemes}}
        <tr>
            <td>{{:client.businessName}}</td>
            <td>{{:jobName}}</td>
            <td>{{:repetition}}</td>
            <td>{{:payment}}</td>
            <td>
                {{if enabled}}
                <span class="glyphicon glyphicon-ok"></span>
                {{else}}
                <span class="glyphicon glyphicon-remove"></span>
                {{/if}}
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" data-id="{{:id}}">Details</button>
            </td>
        </tr>
        {{/for}}
    </tbody>
</table>

<div id="paginationNavBar" class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{if currentPage == 0}}
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{else}}
            <li data-id="{{:currentPage-1}}">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}
            {{for ~getFields(count)}}
                {{if #index == #parent.parent.data.currentPage}}
                <li class="active">
                    <a href="#">{{:#getIndex()+1}}</a>
                </li>
                {{else}}
                <li data-id="{{:#getIndex()}}">
                    <a href="#">{{:#getIndex()+1}}</a>
                </li>
                {{/if}}
            {{/for}}
            {{if currentPage == count}}
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{else}}
            <li data-id="{{:currentPage+1}}">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
