<!DOCTYPE html>
<div class="row">
    <h2 class="details-heading float-left">{{:invoiceNo}}</h2>
</div>
<div class="row button-row">
    {{if paid === false}}
    <button id="paid-button" type="button" class="btn btn-success">
        Paid
    </button> {{else}}
    <button id="cancel-button" type="button" class="btn btn-danger">
        Cancel Paid
    </button> {{/if}}
    <button id="print-button" type="button" class="btn btn-warning">
        <span class="glyphicon glyphicon-print"></span>&nbsp;Print Invoice
    </button>
    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteConfirmationModal">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
    </button>
</div>
<div class="row">
    <p>
        <strong>Business Name:</strong> {{:client.businessName}}
    </p>
    <p>
        <strong>Issue Date:</strong> {{:createdAt.format("DD/MM/YYYY")}}
    </p>
    <p>
        <strong>Payment (inc. GST):</strong> {{:total}}
    </p>

    <p>
        <strong>Status:</strong>
        {{if paid}}
        Paid
        {{else}}
        Not Paid
        {{/if}}
    </p>
    {{if paid}}
    <p>
        <strong>Paid At:</strong> {{:paidAt.format("DD/MM/YYYY")}}
    </p>
    {{/if}}
</div>
<div class="row">
    <table id="client-job-table" class="table">
        <thead class="details-heading">
            <tr>
                <th>Job Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{for jobs}}
            <tr class="clickable-row" data-id="{{:id}}">
                <td>{{:jobName}}</td>
                <td>{{:timeBooked.format("DD/MM/YYYY")}}</td>
                <td>{{:timeBooked.format("HH:mm")}}</td>
                <td>{{:total}}</td>
                <td>{{:state}}</td>
            </tr>
            {{/for }}
        </tbody>
    </table>
</div>

<!-- Delete confirmation Modal -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalLabel">Are you sure you want to delete {{:invoiceNo}}</h4>
            </div>
            <div class="modal-body">
                <button id="delete-invoice-button" type="button" class="btn btn-danger" data-dismiss="modal">Delete Invoice</button>
                <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
