<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">Invoices</h1>
    <div class="custom-button">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#advSearchModal">
            <span class="glyphicon glyphicon-search"></span> Advance Search
        </button>
        <button id="create-button" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Generate
        </button>
    </div>
</div>
<div id="indexInvoiceTable" class="row"></div>

<!-- Modal -->
<div class="modal fade" id="advSearchModal" tabindex="" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalLabel">Search Options</h4>
            </div>
            <div class="modal-body">
                <form id="searchOptionsForm">
                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            <div class="form-group">
                                <label for="timeBooked">From Date</label>
                                <div class="input-group date datetimepicker" id="fromDatepicker">
                                    <input type="text" class="form-control" placeholder="" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-6">
                            <div class="form-group">
                                <label for="timeBooked">To Date</label>
                                <div class="input-group date datetimepicker" id="toDatepicker">
                                    <input type="text" class="form-control" placeholder="" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-8">
                            <div class="form-group">
                                <label for="client">Client</label>
                                <select class="form-control" name="clientID">
                                    <option value="" selected></option>
                                    {{for clients}}
                                        <option value="{{:id}}">{{:businessName}}</option>
                                    {{/for}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-4">
                            <div class="form-group">
                                <label for="state">Paid</label>
                                <select class="form-control" name="paid">
                                    <option value="" selected></option>
                                    <option value="paid">Paid</option>
                                    <option value="unpaid">Not Paid</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="search-button" type="button" class="btn btn-primary" data-dismiss="modal">Search</button>
            </div>
        </div>
    </div>
</div>
