<!DOCTYPE html>
<table id="invoice-table" class="table table-striped">
    <thead>
        <tr>
            <th>Client</th>
            <th>Invoice No</th>
            <th>Total</th>
            <th>Issue Date</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {{for invoices}}
        <tr>
            <td>{{:client.businessName}}</td>
            <td>{{:invoiceNo}}</td>
            <td>${{:total}}</td>
            <td>{{:createdAt.format("DD/MM/YYYY")}}</td>
            <td>
                {{if paid === false}} {{:paid}} {{else}} {{:paidAt.format("DD/MM/YYYY")}} {{/if}}
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" data-id="{{:id}}">More...</button>
            </td>
        </tr>
        {{/for}}
    </tbody>
</table>

<div id="paginationNavBar" class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{if currentPage == 0}}
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{else}}
            <li data-page="{{:currentPage-1}}">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}} {{for ~getFields(count)}} {{if #index == #parent.parent.data.currentPage}}
            <li class="active">
                <a href="#">{{:#getIndex()+1}}</a>
            </li>
            {{else}}
            <li data-page="{{:#getIndex()}}">
                <a href="#">{{:#getIndex()+1}}</a>
            </li>
            {{/if}} {{/for}} {{if currentPage == count}}
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{else}}
            <li data-page="{{:currentPage+1}}">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>
