<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">New Job</h1>
</div>
<form id="createJobForm">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="client">Client*</label>
                <select class="form-control" name="clientSelect" onblur="validRules.Selected($(this))" onchange="validRules.Selected($(this))">
                    {{if client == null}}
                        <option value="" disabled selected>Select a Client</option>
                        {{for clients}}
                        <option value="{{:id}}">{{:businessName}}</option>
                        {{/for}}
                    {{else}}
                    <option value="{{:client.id}}" selected>{{:client.businessName}}</option>
                    {{/if}}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="form-group">
                <label for="jobName">Job Name*</label>
                <input type="text" class="form-control" name="jobName" placeholder="Job Name">
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="payment">Payment* (ex. GST)</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-usd"></span>
                    </span>
                    <input type="text" class="form-control" name="payment" placeholder="Eg. 50" onblur="validRules.isNumeric($(this))" onkeyup="validRules.isNumeric($(this))">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="timeBooked">Booking Date*</label>
                <div class="input-group date datetimepicker" id="datepicker">
                    <input type="text" class="form-control" onblur="validRules.isEmptyField($(this))" onchange="validRules.isEmptyField($(this))">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="timeBooked">Booking Time*</label>
                <div class="input-group date datetimepicker" id="timepicker">
                    <input type="text" class="form-control" onblur="validRules.isEmptyField($(this))" onchange="validRules.isEmptyField($(this))">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button id="form-submit-button" type="button" class="btn btn-lg btn-success submit-button" disabled="true">Submit</button>
    </div>
</form>
