<!DOCTYPE html>
<div class="row">
    <h2 class="details-heading float-left">{{:jobName}}</h2>
</div>
<div class="row button-row">
    {{if state === "Placed"}}
    <button id="done-button" type="button" class="btn btn-success">
        <span class="glyphicon"></span>&nbsp;Done
    </button> {{else state === "Done"}}
    <button id="placed-button" type="button" class="btn btn-warning">
        <span class="glyphicon"></span>&nbsp;Placed
    </button> {{/if}}
    <button id="rebook-button" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-time"></span>&nbsp;Rebook
    </button>
    <button id="edit-button" type="button" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
    </button>
    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteConfirmationModal">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
    </button>
</div>
<div class="row">
    <p>
        <strong>Business Name:</strong> {{:client.businessName}}
    </p>
    <p>
        <strong>Date Booked:</strong> {{:timeBooked.format("DD/MM/YYYY")}}
    </p>
    <p>
        <strong>Time Booked:</strong> {{:timeBooked.format("HH:mm")}}
    </p>
    <p>
        <strong>Total Price:</strong> ${{:payment + gst}}
    </p>
    <p>
        <strong>Status:</strong> {{:state}}
    </p>
</div>

<!-- Delete confirmation Modal -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalLabel">Are you sure you want to delete {{:jobName}}</h4>
            </div>
            <div class="modal-body">
                <button id="delete-button" type="button" class="btn btn-danger" data-dismiss="modal">Delete Job</button>
                <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
