<!DOCTYPE html>
<div class="row">
    <h2 class="details-heading float-left">{{:client.businessName + " - " + jobName}}</h2>
</div>
<div class="row button-row">
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Edit <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="edit-button" href="#"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit Details</a></li>
            <li><a id="rebook-button" href="#"><span class="glyphicon glyphicon-time"></span>&nbsp;Edit booking time</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#duplicateJobModal">
        <span class="glyphicon glyphicon-duplicate"></span>&nbsp;Duplicate
    </button>
    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteConfirmationModal">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
    </button>
</div>
<div class="row">
    <h3>Details</h3>
</div>
<div class="row">
    <dl>
        <dt>Date Booked:&nbsp;</dt>
        <dd>{{:timeBooked.format("DD/MM/YYYY")}}</dd>
        <dt>Time Booked:&nbsp;</dt>
        <dd>{{:timeBooked.format("HH:mm")}}</dd>
        <dt>Payment (inc. GST):&nbsp;</dt>
        <dd>{{:total}}</dd>
        <dt>Status:&nbsp;</dt>
        <dd>{{:state}}</dd>
    </dl>
</div>
<div class="row button-row">
    {{if state === "Placed"}}
    <button id="done-button" type="button" class="btn btn-success">
        <span class="glyphicon"></span>&nbsp;Change status to Done
    </button>
    {{else state === "Done"}}
    <button id="placed-button" type="button" class="btn btn-warning">
        <span class="glyphicon"></span>&nbsp;Change status to Placed
    </button>
    {{/if}}
</div>

<!-- Delete confirmation Modal -->
<div id="deleteConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalLabel">Are you sure you want to delete {{:jobName}}</h4>
            </div>
            <div class="modal-body">
                <button id="delete-button" type="button" class="btn btn-danger" data-dismiss="modal">Delete Job</button>
                <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Duplication options Modal -->
<div id="duplicateJobModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modalLabel">Job Duplication Options</h4>
            </div>
            <div class="modal-body">
                <form id="JobDuplicationForm">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="timeBooked">Booking Date</label>
                                <div class="input-group date datetimepicker" id="datepicker">
                                    <input type="text" class="form-control" value="{{:timeBooked.format('DD/MM/YYYY')}}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="timeBooked">Booking Time</label>
                                <div class="input-group date datetimepicker" id="timepicker">
                                    <input type="text" class="form-control" value="{{:timeBooked.format('HH:mm')}}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <button id="duplicate-button" type="button" class="btn btn-success float-right" data-dismiss="modal">Duplicate Job</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
