<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">Edit {{:jobName}}</h1>
</div>
<div class="row">
    <p>Edit the fields that need to be changed, the other will stay as they are</p>
</div>
<form id="editJobForm">
    <div class="row">
        <div class="form-group large-field">
            <label for="jobName">Job Name</label>
            <input type="text" class="form-control" name="jobName" placeholder="{{:jobName}}">
        </div>
        <div class="form-group small-field">
            <label for="payment">Payment</label>
            <input type="text" class="form-control" name="payment" placeholder="{{:payment}}">
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-lg btn-success submit-button" onclick="UIFunctions.editJob({{:id}})">Save</button>
    </div>
</form>
