<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">Rebook {{:jobName}}</h1>
</div>
<form id="editJobForm">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="timeBooked">Booking Date</label>
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" value="{{:timeBooked.format('DD/MM/YYYY')}}" onblur="validRules.isEmptyField($(this))" onkeyup="validRules.isEmptyField($(this))" >
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="timeBooked">Booking Time</label>
                <div class="input-group date" id="timepicker">
                        <input type="text" class="form-control" value="{{:timeBooked.format('HH:mm')}}" onblur="validRules.isEmptyField($(this))" onkeyup="validRules.isEmptyField($(this))" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-lg btn-success submit-button" onclick="UIFunctions.rebookJob({{:id}})">Save</button>
    </div>
</form>
