<div class="row">
    <h1 class="float-left">{{:businessName}}</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Business Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Short Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{:businessName}}</td>
            <td>{{:firstName}}</td>
            <td>{{:lastName}}</td>
            <td>{{:shortName}}</td>
        </tr>
    </tbody>
</table>
