<!DOCTYPE html>
<div class="row">
    <h2 class="details-heading float-left">{{:businessName}}</h2>
    <div class="custom-button">
        <button id="edit-button" type="button" class="btn btn-warning" onclick="UIFunctions.getEditClient({{:id}})">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        </button>
        <button id="delete-button" type="button" class="btn btn-danger" onclick="">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </button>
    </div>
</div>
<div class="row">
    <p>
        <strong>First Name:</strong>
        {{:firstName}}
    </p>
    <p>
        <strong>Last Name:</strong>
        {{:lastName}}
    </p>
    <p>
        <strong>Short Name:</strong>
        {{:shortName}}
    </p>
    <p>
        <strong>Address:</strong>
        {{:address}}
    </p>
    <p>
        <strong>Email:</strong>
        {{:email}}
    </p>
    <p>
        <strong>Phone:</strong>
        {{:phone}}
    </p>
</div>
<div class="row">
    <h2 class="details-heading float-left">Services</h2>
    <button id="create-jobscheme-button" type="button" class="btn btn-primary custom-button" onclick="UIFunctions.getCreateJobScheme({{:id}})">
        <span class="glyphicon glyphicon-plus"></span>
        Create
    </button>
</div>
<div class="row">
    <table class="table">
        <thead class="details-heading">
            <tr>
                <th>Job Name</th>
                <th>Repetition</th>
                <th>Payment</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            {{for jobSchemes}}
            <tr id="client-job-scheme-table" class="clickable-row" data-id="{{:id}}">
                <th>{{:jobName}}</th>
                <td>{{:repetition}}</td>
                <td>{{:payment}}$</td>
                <td>{{:enabled}}</td>
            </tr>
            {{/for}}
        </tbody>
    </table>
</div>
<div class="row">
    <h2 class="details-heading float-left">Jobs</h2>
    <button id="create-job-button" type="button" class="btn btn-primary custom-button" onclick="UIFunctions.getCreateJob({{:id}})">
        <span class="glyphicon glyphicon-plus"></span>
        Create
    </button>
</div>
<div class="row">
    <table class="table">
        <thead class="details-heading">
            <tr>
                <th>Job Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{for jobs}}
            <tr id="client-job-table" class="clickable-row" data-id="{{:id}}">
                <td>{{:jobName}}</td>
                <td>{{:timeBooked.format("DD/MM/YYYY")}}</td>
                <td>{{:timeBooked.format("HH:mm")}}</td>
                <td>{{:total}}$</td>
            </tr>
            {{/for }}
        </tbody>
    </table>
</div>
{{if jobs.length > 0 }}
<div class="row">
    <button id="see-all-jobs-button" type="button" class="btn btn-primary custom-button" onclick="UIFunctions.getClientJobs({{:id}})">
        See All Jobs
    </button>
</div>
{{/if}}
