<div class="row">
    <h2 class="float-left">{{:businessName}}</h2>
    <div class="custom-button">
        <button id="edit-button" type="button" class="btn btn-warning" onclick="UIFunctions.getEditClient({{:id}})">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        </button>
        <button id="edit-button" type="button" class="btn btn-danger" onclick="">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
        </button>
    </div>
</div>
<div class="row">
    <p>
        <strong>First Name:</strong>
        {{:firstName}}
    </p>
    <p>
        <strong>Last Name:</strong>
        {{:lastName}}
    </p>
    <p>
        <strong>Short Name:</strong>
        {{:shortName}}
    </p>
    <p>
        <strong>Address:</strong>
        {{:address}}
    </p>
    <p>
        <strong>Email:</strong>
        {{:email}}
    </p>
    <p>
        <strong>Phone:</strong>
        {{:phone}}
    </p>
</div>
<div class="row">
    <h2 class="float-left">Jobs</h2>
    <button id="create-button" type="button" class="btn btn-primary custom-button" onclick="UIFunctions.getCreateClient()">
        <span class="glyphicon glyphicon-plus"></span>
        Create
    </button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <h2 class="float-left">Job Schemes</h2>
    <button id="create-button" type="button" class="btn btn-primary custom-button" onclick="UIFunctions.getCreateClient()">
        <span class="glyphicon glyphicon-plus"></span>
        Create
    </button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
