<!DOCTYPE html>
<div class="row">
    <h1 class="float-left">Edit {{:businessName}}</h1>
</div>
<div class="row">
    <p>Edit the fields that need to be changed, the other will stay as they are</p>
</div>
<form id="editClientForm">
    <div class="row">
        <div class="form-group large-field">
            <label for="businessName">Business Name</label>
            <input type="text" class="form-control" name="businessName" placeholder="{{:businessName}}">
        </div>
        <div class="form-group small-field">
            <label for="shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" placeholder="{{:shortName}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group medium-field">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" placeholder="{{:firstName}}">
        </div>
        <div class="form-group medium-field">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" placeholder="{{:lastName}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group extra-large-field">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" placeholder="{{:address}}">
        </div>
    </div>
    <div class="row">
        <div class="form-group medium-field">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="{{:email}}">
        </div>
        <div class="form-group medium-field">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" name="phone" placeholder="{{:phone}}">
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-lg btn-success submit-button" onclick="UIFunctions.editClient({{:id}})">Save</button>
    </div>
</form>
