<!-- Id: {{:id}} -->
<div class="row">
    <h1>Some Content Here</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Business Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{:id}}</th>
                <td>{{:firstName}}</td>
                <td>{{:lastName}}</td>
                <td>{{:businessName}}</td>
            </tr>
        </tbody>
    </table>
</div>
